{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Abrir Proyecto</title>
        <meta charset="windows-1252">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/stylen.css' %}"/>
        <script  type=text/javascript src="{% static 'devson/js/nventana.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://localhost:8010/socket.io/socket.io.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    </head>
</head>
<body onload="mostrarInputFileModificado()">
    <form class="formu" method="POST">
        {% csrf_token %}
        <div>
            <p align="center"><b>Proyetos en la base de datos</b></p> 
            Proyectos
        </div>
        <hr>
        <div class="inputModificado">
            <p align="center"><b>Proyetos en el equipo</b></p>
            <input class="inputImagen" id="archivo">
            <div class="botonInputFileModificado">
                <input type="file" class="inputImagenOculto" id="archivo_oculto" onchange="processFiles(this.files)" name="archivo_oculto"/>
                <label class="boton">Examinar</label>  
            </div>        
        </div>
        <hr> <br>
        <button id="abrirproyecto" class="submit">Abrir</button>
        <input type="hidden" id="fileOutput"/>
    </form>
    <script type="text/javascript">
    var nombre = "";//nombre del proyecto
    var socket = io.connect('http://localhost:8010/');
    function processFiles(files) {
        var file = files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var output = document.getElementById("fileOutput");
            $(function(){
                nombre = ($("#archivo_oculto").val()).split("\\");
                nombre = nombre[nombre.length-1];
                nombre = nombre.split(".")[0];
            });
            output.value = e.target.result;
        };
        reader.readAsText(file);
    }
    
    socket.on('connect', function(){
        console.log("connect");
    });
    
    $(document).ready(function(){
        $("#abrirproyecto").click(function(){
            var archivoabrir = $('#fileOutput').val();
            if (nombre!='' && archivoabrir!=''){
                console.log("se abrira el proyecto "+nombre+" en "+archivoabrir);
                socket.emit('abrir proyecto',archivoabrir,nombre);
                window.close();
            }
        });
    });

</script>
</body>
</html>



