{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Abrir Proyecto</title>
        <meta charset="windows-1252">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/stylen.css' %}"/>
        <script  type=text/javascript src="{% static 'devson/js/nventana.js' %}"></script>
        <script  type=text/javascript src="{% static 'devson/js/jquery-2.1.4.min.js' %}"></script>
    </head>
</head>
<body onload="mostrarInputFileModificado()">
    <form class="formu" method="POST">
        {% csrf_token %}
        <div>
            <p align="center"><b>Proyetos en la base de datos</b></p> 
            Proyectos
        </div>
        <hr>
        <div class="inputModificado">
            <p align="center"><b>Proyetos en el equipo</b></p>
            <input class="inputImagen" id="archivo">
            <div class="botonInputFileModificado">
                <input type="file" class="inputImagenOculto" id="archivo_oculto" name="archivo_oculto"/>
                <label class="boton">Examinar</label>  
            </div>        
        </div>
        <hr> <br>
        <button class="submit">Abrir</button>
    </form>
</body>
</html>



