<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% load staticfiles %}
<html>
    <head>
        <title>DEVSON</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}" />	
    </head>
    <body>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <header id="page_header">
            <h1><img src="{% static 'devson/images/devson.png' %}" width="160" height="120">Bienvenido a la herramienta CASE DEVSON</h1>
        </header>
        <div id="header">
            <ul class="nav2">
                <li><a href="{% url 'devson:logout' %}">Cerrar Sesi&oacute;n</a></li>
            </ul>
        </div>        
        <section id="registro">
            <form action="{% url 'devson:nuevoproyecto' usuario %}" method="post">
                {% csrf_token %}
                <ul>
                    <li><input id="nombreProyecto" type="hidden" name="NombreProyecto" value=""></li>
                    <li>
                        <button class="submit" id="nuevoproyecto" type="submit" value="Nuevo Proyecto">Nuevo Proyecto</button>
                    </li>
                </ul>
            </form>
        </section>
        <footer id="page_footer">
            <p>&copy; 2016 Derechos Reservados.</p>
        </footer>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#nuevoproyecto").click(function(){
                var nombre = prompt("ingrese el nombre del proyecto");
                $("#nombreProyecto").val(nombre);
            });
        });
    </script>
    </body>
</html>
