{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Guardar Proyecto</title>
        <meta charset="windows-1252">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/stylen.css' %}"/>
        <script  type=text/javascript src="{% static 'devson/js/nventana.js' %}"></script>
        <script src="http://localhost:8010/socket.io/socket.io.js"></script>
    </head>
    <body>
        <form class="formu" method="POST">
            {% csrf_token %}
            <div>
                <p align="center"><b>Nombre del proyecto: </b></p>
            </div>
            <div>
                <p align="center"><b>Guardar en la base de datos</b></p> 
                <button class="submit">Guardar en BD</button>
            </div>
            <hr>
            <div>
                <p align="center"><b>Guardar en el equipo</b></p>
                <button id="guardarpc" class="submit">Guardar en PC</button>       
            </div>
        </form>
    <script type="text/javascript">
        var socket = io.connect('http://localhost:8010/');
        var proyectoguardar,parametrosguardar,nombreproyecto;
        //      
        socket.on('connect', function(){
            console.log("connect");
        });
        //Oyente que recibe el proyecto de la plantilla nuevoproyecto
        socket.on('recibir proyecto', function(proyecto,parametros,nombrenuevo){
            console.log("se recibio el proyecto "+proyecto+" , "+parametros+" , "+nombrenuevo);
            proyectoguardar = proyecto;
            parametrosguardar = parametros;
            nombreproyecto = nombrenuevo;
        });
        $(document).ready(function(){
            $("#guardarpc").click(function(){
                var archivoguardar = JSON.stringify(proyectoguardar, parametrosguardar, "\t"); 
                nombreArchivo=nombreproyecto+".txt";
                var reader = new FileReader();
                reader.onload = function (event) {
                    var save = document.createElement('a');
                    save.href = event.target.result;
                    save.target = '_blank';
                    save.download = nombreArchivo || 'archivo.dat';
                    var clicEvent = new MouseEvent('click', {
                        'view': window,
                            'bubbles': true,
                            'cancelable': true
                    });
                    save.dispatchEvent(clicEvent);
                    (window.URL || window.webkitURL).revokeObjectURL(save.href);
                };
                reader.readAsDataURL(new Blob([archivoguardar], {type: "application/json"}));
            });
        });
    </script>
    </body>    
</html>
