<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% load staticfiles %}
<html>
    <head>
        <title>DEVSON</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}" />	
    </head>
    <body>
        <header id="page_header">
            <h1><img src="{% static 'devson/images/devson.png' %}" width="160" height="120">Bienvenido a la herramienta CASE DEVSON</h1>
        </header>
        <div id="header">
            <ul class="nav">
                <li><a href="{% url 'devson:registro' %}">Registro</a></li>
                <li><a href="#">Manual de usuario</a></li>
            </ul>  
            <ul class="nav2">
                <li><a href="{% url 'devson:desarrolladores' %}">Acerca de los desarrolladores</a></li>
            </ul>
        </div>
        <section id="registro">
            <h2>Inicie la sesi&oacute;n aqu&iacute;</h2>
            <form class="formu" action="{% url 'devson:cliente' %}" method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        <label>Nombre: </label><input type="text" placeholder="Ingrese su usuario" required>
                    </li>
                    <li>
                        <label>Contrase&ntilde;a: </label><input type="password" placeholder="Ingrese su contrase&ntilde;a" required>
                    </li>   
                    <li><button class="submit" type="submit" value="cliente">Ingresar</button></li>
                </ul>
            </form>
        </section>
        <footer id="page_footer">
            <p>&copy; 2016 Derechos Reservados.</p>
        </footer>
    </body>
</html>

