{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>DEVSON</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/styleproyecto.css' %}" />	
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="http://localhost:8010/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        {% block js %}
            <script  src="{% static 'devson/js/bootstrap.min.js' %}"></script>
            <script  src="{% static 'devson/js/formcontrol.js' %}"></script>
            <script  src="{% static 'devson/js/jquery.jsPlumb-1.6.4-min.js' %}"></script>
            <script  src="{% static 'devson/js/jquery-scrollto.js' %}"></script>
            <script  src="{% static 'devson/js/jsPlumb-2.0.5.js' %}"></script>
            <script  src="{% static 'devson/js/jsPlumb-2.0.5-min.js' %}"></script>
            <script  src="{% static 'devson/js/nventana.js' %}"></script>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style2.css' %}" />
    </head>
    <body>
        <div class="container">
        <!-- Modal  en el que se van a editar las caracteristicas de los nodos-->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Propiedades del nodo</h4>
              </div>
              <div class="modal-body">
                <input type="hidden" id="idnodoeditando" value=""/>
                <p>Tipo:</p><input type="text" id="tipo"/>
                <p>Valor:</p><input type="text" id="valor"/>
              </div>
              <div class="modal-footer">
                <button type="button" id="enviar" name="enviar" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                <button type="button" id="cancelar" name="cancelar" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>

          </div>
        </div>
        </div>
        <!-- Formulario usado por metodo AJAX para que se pueda comunicar la plantilla con la vista de guardar
        <form id="FormGuardar" action="{% url 'devson:guardar' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="jsonguardar" name="jsonguardar"/>
        </form>-->
        <header id="page_header">
            <h1><img src="{% static 'devson/images/devson.png' %}" width="80" height="40">Bienvenido a la herramienta CASE DEVSON</h1>
        </header>
        <div id="header1">
            <ul class="nav">
                <li>
                    <a href="#">Archivo</a>
                    <ul>
                        <li><a href="#">Nuevo</a></li>
                        <li><a onclick="abrirventana('{% url 'devson:abrir' %}')">Abrir</a></li>
                        <li><a id="guardarproyecto" onclick="abrirventanag('{% url 'devson:guardar' %}')">Guardar</a></li>
                        <li><a href="#">Exportar como</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Edici&oacute;n</a>
                    <ul>
                        <li><a href="#">Deshacer</a></li>
                        <li><a href="#">Rehacer</a></li>
                        <li><a href="#">Cortar</a></li>
                        <li><a href="#">Copiar</a></li>
                        <li><a href="#">Pegar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Formato</a>
                    <ul>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}')">Objeto simple</a></li>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}')">Objeto compuesto</a></li>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}')">Relaci&oacute;n</a></li>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}')">Texto</a></li>
                    </ul>                
                </li>
                <li>
                    <a href="#">Datos</a>
                    <ul>
                        <li><a href="#">Objeto simple</a></li>
                        <li><a href="#">Objeto compuesto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                    <ul>
                        <li><a href="#">Manual de usuario</a></li>
                    </ul>
                </li>
            </ul>  
            <ul class="nav2">
                <li><a href="{% url 'devson:login' %}">Cerrar Sesi&oacute;n</a></li>
            </ul>
        </div>
        <br>
        <section id="proyec">
            <div><p align="center"><b>Proyeto: </b>Nombre de proyecto</p></div> 
            <hr>
        </section>
        <section id="canvas">
            <div id="containment-wrapper"></div>   
        </section>
        <section id="paleta">
            <p align=center><b>Elementos</b></p>
            <hr>
            <div id="header3">
                <ul class="nav3">
                    <li>
                        <a onclick="insertarobject('Nodo')">
                            <img src="{% static 'devson/images/proyecto/Nodo.png' %}">
                        </a>
                        <ul>
                            <li>Insertar un objeto compuesto</li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="insertarobject('Hoja')">
                            <img src="{% static 'devson/images/proyecto/Hoja.png' %}">
                        </a>
                        <ul>
                            <li>Insertar un objeto simple</li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="insertarobject('Propiedades')">
                            <img src="{% static 'devson/images/proyecto/propiedades.png' %}">
                        </a>
                        <ul>
                            <li>Cambiar las propiedades de un nodo</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        <footer id="page_footer">
            <p>&copy; 2016 Derechos Reservados.</p>
        </footer>
        
        <script type="text/javascript">
        var common = {
                    isSource: false,
                    isTarget: false,
                    connector: "Straight",
                    endpoint: "Rectangle",
                    paintStyle: {fillStyle: "white", outlineColor: "blue", outlineWidth: 1},
                    hoverPaintStyle: {fillStyle: "lightblue"},
                    connectorStyle: {strokeStyle: "blue", lineWidth: 1},
                    connectorOverlays:[ 
                        ["Arrow" , { width:12, length:12}]
                    ],
                    connectorHoverStyle: {lineWidth: 2}
                };
        jsPlumb.ready(function () {
                //jsPlumb.draggable($(".ui-widget-content"), {containment:"parent"});
                //$('.ui-widget-content').draggable({
                //    containment: 'parent'
                //});
                jsPlumb.setContainer($("#containment-wrapper"));
                $('#containment-wrapper').click(function (e) {
                    //falta revisar como obtener las coordenadas correctas del evento
                    if (String(objetoseleccionado) == 'Nodo' || String(objetoseleccionado) == 'Hoja') {
                        var x = e.pageX-$(this).position().left;
                        var y = e.pageY-$(this).position().top;
                        newDiv = $("<div/>", {
                            "class": "ui-widget-content",
                            "id": String("nodo" + idnodocreado),
                        });
                        newDiv.css({
                            'top': y,
                            'left': x
                        });
                        newDiv.appendTo("#containment-wrapper");
                        jsPlumb.draggable($('#' + String("nodo" + idnodocreado)), {containment:"#containment-wrapper"});
                        //             newDiv.animate({ left: x+'px',top: y+'px' });
                        //            newImg = $("<img>", {
                        //                "class": "imagenFondo",
                        //                "src": "{% static 'devson/images/proyecto/"+String(objetoseleccionado)+".png' %}",
                        //            });
                        //            newImg.appendTo(newDiv);
                        if (String(objetoseleccionado) == 'Nodo'){
                            nombrenodo = $("<span>", {
                                "class": "nombrenodo",
                            }).html('object');
                            nombrenodo.appendTo(newDiv);
                            botonagregarhijo = $("<div>", {
                                "class": "button_add",
                            }).html('Agregar Hijo');
                            botonagregarhijo.appendTo(newDiv);
                            botonquitarhijo = $("<span>", {
                                "class": "button_remove",
                            }).html('Quitar Hijo');
                            botonquitarhijo.appendTo(newDiv);
                            agregarpuntosdefinanodo(("nodo" + idnodocreado),true);
                        }
                        else{
                            nombrenodo = $("<span>", {
                                "class": "nombrenodo",
                            }).html('no hay tipo');
                            nombrenodo.appendTo(newDiv);
                            agregarpuntosdefinanodo(("nodo" + idnodocreado),false);
                        }
                        agregarnodo(("nodo" + idnodocreado),y,x,objetoseleccionado);
                        objetoseleccionado = '';
                        idnodocreado = idnodocreado + 1;
                    }
                });
                //Oyente para que el usuario pueda solicitar editar caracteristicas de un nodo
                $( document ).on( "click", ".ui-widget-content", function(){
                    if (String(objetoseleccionado) == 'Propiedades') {
                        idnodo = $(this).attr("id");
                        if (mostrarmodal(idnodo))
                            $("#myModal").modal();
                    }
                });
                //Evento de conexion detectada para registrar quien es el padre y el hijo unidos
                jsPlumb.bind("connection", function(e) {
                    unirpadreahijo(e.sourceId,e.targetId);
                });
                
                //Cuando un nodo quiere tener un hijo
                $( document ).on( "click", ".button_add", function(){
                //$(".button_add").live("click", function () {
                    var parentnodeid = $(this).parent().attr("id");
                    agregarpuntosdefinanodo(parentnodeid,true);
                });

                //Remove anchor 
                $( document ).on( "click", ".button_remove", function(){

                    var parentnode = $(this).parent();
                    //get list of current endpoints
                    var endpoints = jsPlumb.getEndpoints(parentnode);
                    //remove last one
                    if (endpoints.length > 2) {
                        jsPlumb.deleteEndpoint(endpoints[endpoints.length-1]);
                    }
                });
                
                
                //Se debe definir si el enddpoint a agregar de un nodo es de un padre o un hijo
                function agregarpuntosdefinanodo(idnodo,espadre) {
                    var endpoint = common;
                    if (espadre)
                        endpoint.isSource=true;
                    else
                        endpoint.isTarget=true;
                    jsPlumb.addEndpoint(String(idnodo), {
                        anchor:"AutoDefault"
                    }, endpoint);
                    jsPlumb.draggable(String(idnodo), {
                        //x.draggable({
                        containment: '#containment-wrapper',
                        drop: function (event, ui) {
                            jsPlumb.repaintEverything();
                        },
                        drag: function (e, ui) {
                            jsPlumb.repaintEverything();
                        }
                    });
                    //jsPlumb.draggable($("#"+String(idnodo)));
                }
            });
        </script>
    </body>
</html>