{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>DEVSON</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'devson/images/devsoni.ico' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--<meta http-equiv="refresh" content="3" >-->
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/styleproyecto.css' %}" />	
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="http://localhost:8010/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        {% block js %}
        <script  src="{% static 'devson/js/bootstrap.min.js' %}"></script>
        <script  src="{% static 'devson/js/formcontrol.js' %}"></script>
        <script  src="{% static 'devson/js/undomanager.js' %}"></script>
        <script  src="{% static 'devson/js/jquery.jsPlumb-1.6.4-min.js' %}"></script>
        <script  src="{% static 'devson/js/jquery-scrollto.js' %}"></script>
        <script  src="{% static 'devson/js/jsPlumb-2.0.5.js' %}"></script>
        <script  src="{% static 'devson/js/jsPlumb-2.0.5-min.js' %}"></script>
        <script  src="{% static 'devson/js/nventana.js' %}"></script>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'devson/css/style2.css' %}" />
        <link rel="stylesheet" href="{% static 'devson/css/jquery.jsonview.css' %}" type="text/css">
        <script  src="{% static 'devson/js/jquery.jsonview.js' %}"></script>
        <script type="text/javascript" src="{% static 'devson/js/html2canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'devson/js/canvas2image.js' %}"></script>
        <script type="text/javascript" src="{% static 'devson/js/base64.js' %}"></script>
    </head>
    <body onload="setnombreproyecto('{{nombreproyecto}}','{{usuario}}')">
        <div class="container">
            <!-- Modal  en el que se van a editar las caracteristicas de los nodos-->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Propiedades del nodo</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="idnodoeditando" value=""/>
                            <ul class="tiva">
                                <li class="ti">
                                    <label class="lab">Nombre: </label><input type="text" id="tipo"/>
                                </li>
                                <li class="va">
                                    <label class="lab">Valor: </label><input type="text" id="valor"/>
                                </li>
                            </ul>
                            <!--                            <p>Tipo:</p><input type="text" id="tipo"/>
                                                        <p>Valor:</p><input type="text" id="valor"/>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="enviar" name="enviar" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                            <button type="button" id="cancelar" name="cancelar" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Formulario usado por metodo AJAX para que se pueda comunicar la plantilla con la vista de guardar
        <form id="FormGuardar" action="{% url 'devson:guardar' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="jsonguardar" name="jsonguardar"/>
        </form>-->
        <header id="page_header">
            <h1><img src="{% static 'devson/images/devson.png' %}" width="80" height="40">Bienvenido a la herramienta CASE DEVSON</h1>
        </header>
        <div id="header1">
            <ul class="nav">
                <li>
                    <a>Archivo</a>
                    <ul>
                        <li><a href="{% url 'devson:cliente' %}">Nuevo</a></li>
                        <li><a onclick="abrirventana('{% url 'devson:abrir' %}', getidsocket())">Abrir</a></li>
                        <li><a id="guardarproyecto" onclick="abrirventanag('{% url 'devson:guardar' %}')">Guardar</a></li>
                        <li>
                            <a>Exportar como</a>
                            <ul>
                                <li><a id="exportarproyecto">JSON</a></li>
                                <li><a id="exportarsql">SQL</a></li>
                                <li>
                                    <a>No SQL</a>
                                    <ul>
                                        <li><a id="exportarcassandra">Cassandra</a></li>
                                        <li><a id="exportarmongo">MongoDB</a></li>
                                        <li><a id="exportarneo4j">Neo4J</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Edici&oacute;n</a>
                    <ul>
                        <li><a class="deshacer">Deshacer</a></li>
                        <li><a class="rehacer">Rehacer</a></li>
                        <!--<li><a href="#">Cortar</a></li>-->
                        <li><a id="copiar">Copiar</a></li>
                        <li><a id="pegar">Pegar</a></li>
                    </ul>
                </li>
                <li>
                    <a>Formato</a>
                    <ul>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}', getidsocket())">Objeto simple</a></li>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}', getidsocket())">Objeto compuesto</a></li>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}', getidsocket())">Relaci&oacute;n</a></li>
                        <li><a onclick="abrirventanap('{% url 'devson:propiedades' %}', getidsocket())">Texto</a></li>
                    </ul>                
                </li>
                <li>
                    <a>Ayuda</a>
                    <ul>
                        <li><a href="{% static 'devson/images/Manual de usuario.pdf' %}" target="_blank">Manual de usuario</a></li>
                    </ul>
                </li>
            </ul>  
            <ul class="nav2">
                <li><a href="{% url 'devson:logout' %}">Cerrar Sesi&oacute;n</a></li>
            </ul>
        </div>
        <div id="header2">
            <ul class="nav4">
                <li>
                    <a href="{% url 'devson:cliente' %}"><span class=""><i class="icon icon-document"></i></span></a>
                    <ul>
                        <li>Nuevo proyecto</li>
                    </ul> 
                </li>
                <li>
                    <a onclick="abrirventana('{% url 'devson:abrir' %}', getidsocket())"><span class=""><i class="icon icon-folder"></i></span></a>
                    <ul>
                        <li>Abrir proyecto</li>
                    </ul> 
                </li>
                <li>
                    <a id="guardarproyecto" onclick="abrirventanag('{% url 'devson:guardar' %}')"><span class=""><i class="icon icon-save"></i></span></a>
                    <ul>
                        <li>Guardar proyecto</li>
                    </ul> 
                </li>  
                <li>
                    <a id="exportarproyecto"><span class=""><i class="icon icon-export"></i></span></a>
                    <ul>
                        <li>Exportar como JSON</li>
                    </ul> 
                </li>
                <li>
                    <a id="des" download="" href=""><span class=""><i class="icon icon-print"></i></span></a>
                    <ul>
                        <li>Imprimir como imagen</li>
                    </ul> 
                </li>                
                <!--<li><a href="#"><span class=""><i class="icon icon-scissors"></i></span></a></li>-->
                <li>
                    <a id="copiar"><span class=""><i class="icon icon-copy"></i></span></a>
                    <ul>
                        <li>Copiar objeto</li>
                    </ul> 
                </li>
                <li>
                    <a id="pegar"><span class=""><i class="icon icon-layers"></i></span></a>
                    <ul>
                        <li>Pegar objeto</li>
                    </ul> 
                </li>
                <li>
                    <a id="eliminar"><span class=""><i class="icon icon-trash"></i></span></a>
                    <ul>
                        <li>Eliminar objeto</li>
                    </ul> 
                </li>
                <li><a class="deshacer"><span class=""><i class="icon icon-reply"></i></span></a>
                    <ul>
                        <li>Deshacer</li>
                    </ul> 
                </li>
                <li>
                    <a class="rehacer"><span class=""><i class="icon icon-forward"></i></span></a>
                    <ul>
                        <li>Rehacer</li>
                    </ul> 
                </li>
                <li>
                    <a onclick="abrirventanap('{% url 'devson:propiedades' %}', getidsocket())"><span class=""><i class="icon icon-sound-mix"></i></span></a>
                    <ul>
                        <li>Cualidades de objetos</li>
                    </ul> 
                </li>
                <li>
                    <a href="{% static 'devson/images/Manual de usuario.pdf' %}" target="_blank"><span class=""><i class="icon icon-help-with-circle"></i></span></a>
                    <ul>
                        <li>Manual de usuario</li>
                    </ul>                    
                </li>
            </ul> 
        </div>
        <br>
        <section id="proyec">
            <div><p id="nomproyectoderecha" align="center"><b>Proyeto: </b>{{ nombreproyecto }}</p></div> 
            <hr>
            <div id="jsonview">
            </div>
        </section>
        <section id="canvas">
            <div id="containment-wrapper"></div>   
        </section>
        <section id="paleta">
            <p align=center><b>Elementos</b></p>
            <hr>
            <div id="header3">
                <ul class="nav3">
                    <li>
                        <a onclick="insertarobject('Nodo')">
                            <img src="{% static 'devson/images/proyecto/Nodo.png' %}">
                        </a>
                        <ul>
                            <li>Insertar un objeto compuesto</li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="insertarobject('Hoja')">
                            <img src="{% static 'devson/images/proyecto/Hoja.png' %}">
                        </a>
                        <ul>
                            <li>Insertar un objeto simple</li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="insertarobject('Propiedades')">
                            <img src="{% static 'devson/images/proyecto/propiedades.png' %}">
                        </a>
                        <ul>
                            <li>Cambiar las propiedades de un nodo</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        <footer id="page_footer">
            <p>&copy; 2016 Derechos Reservados.</p>
        </footer>
        <form id="postabrirventana" class="formu" method="POST">
            {% csrf_token %}
            <input type="hidden" id="idsock" name="idsock"/>
        </form>
        <form id="postguardar" class="formu" method="POST">
            {% csrf_token %}
        </form>
        <form id="postjson" class="formu" action="{% url 'devson:exportar'%}" method="POST">
        </form>
        <script type="text/javascript">
            //Posicion en la que se encuentran el contenedor de los divs
            var xcontainment = 0;
            var ycontainment = 0;
            var undoManager = new UndoManager();
            var nodoseleccionado; //esta es la variable del ultimo nodo que el usuario ha hecho click
            var common = {
            isSource: false,
                    isTarget: false,
                    connector: "Straight",
                    endpoint: "Rectangle",
                    paintStyle: {fillStyle: "white", outlineColor: "blue", outlineWidth: 1},
                    connectionType:"lineas",
                    connectorOverlays:[
                    ["Arrow", { width:12, length:12}]
                    ],
                    connectorHoverStyle: {lineWidth: 2}
            };
            jsPlumb.ready(function () {
            jsPlumb.registerConnectionType("lineas", {
            paintStyle:{ strokeStyle: getcolorconexion(), lineWidth: getgrosorconexion()  },
                    hoverPaintStyle:{fillStyle: "lightblue"}
            });
            //jsPlumb.draggable($(".ui-widget-content"), {containment:"parent"});
            //$('.ui-widget-content').draggable({
            //    containment: 'parent'
            //});
            $(document).off("click", "#deshacer");
            $(document).off("click", "#rehacer");
            $(document).on("click", "#deshacer", function () {
            deshacer();
            });
            $(document).on("click", "#rehacer", function () {
            rehacer();
            });
            jsPlumb.setContainer($("#containment-wrapper"));
            $('#containment-wrapper').click(function (e) {
            //falta revisar como obtener las coordenadas correctas del evento
            xcontainment = $(this).position().left;
            ycontainment = $(this).position().top;
            var x = e.pageX - xcontainment;
            var y = e.pageY - ycontainment;
            if (String(objetoseleccionado) == 'Nodo'){
                    undoredonuevonodo(String("nodo" + idnodocreado),x,y,'object','', String(objetoseleccionado),false);
                    crearnuevonodo(String("nodo" + idnodocreado), x, y, 'object', '', String(objetoseleccionado), false);
            }
            if (String(objetoseleccionado) == 'Hoja'){
                    undoredonuevonodo(String("nodo" + idnodocreado),x,y,'no hay tipo','', String(objetoseleccionado),false);
                    crearnuevonodo(String("nodo" + idnodocreado), x, y, 'no hay tipo', '', String(objetoseleccionado), false);
            }
            });
            //Oyente para que el usuario pueda solicitar editar caracteristicas de un nodo
            $(document).on("click", ".ui-widget-contentcomp", function(){
            if (String(objetoseleccionado) == 'Propiedades') {
            idnodo = $(this).attr("id");
            if (mostrarmodal(idnodo)){
            $("#myModal").modal();
            $('#valor').prop("disabled", false); //Se queda asi por si luego se piensa bloquear el valor de un nodo no hoja
            }
            }
//copiar y pegar
            idnodo = $(this).attr("id");
            var buscado;
            $(document).off("click", "#eliminar");
            $(document).on("click", "#copiar", function () {
            var buscado;
            buscadooriginal = getnodo(nodoseleccionado);
            var buscado = jQuery.extend(true, {}, buscadooriginal); //clon del objeto
            //alert(buscado);
            $(document).off("click", "#pegar");
            $(document).on("click", "#pegar", function () {
            buscado.idnodo = String("nodo" + idnodocreado);
            crearnuevonodo(buscado.idnodo, 0, 0, buscado.tiponodo, buscado.valor, buscado.caracteristica, false);
            buscado = getnodo(nodoseleccionado);
            });
            });
            //Eliminar
            $(document).on("click", "#eliminar", function () {
            buscadooriginal = getnodo(nodoseleccionado);
            undoredoborrarnodo(buscadooriginal.idnodo, buscadooriginal.x,
                            buscadooriginal.y, buscadooriginal.tiponodo, buscadooriginal.valor,
                            buscadooriginal.caracteristica, false,buscadooriginal.idhijos,buscadooriginal.padre);
            eliminarnodo(buscadooriginal.idnodo);
            desaparecernodo(buscadooriginal.idnodo);
            });
            });
            $(document).on("click", ".ui-widget-contentsimple", function(){
            if (String(objetoseleccionado) == 'Propiedades') {
            idnodo = $(this).attr("id");
            if (mostrarmodal(idnodo))
                    $("#myModal").modal();
            insertarobject('');
            }

            //copiar y pegar
            idnodo = $(this).attr("id");
            var buscado;
            $(document).off("click", "#eliminar");
            $(document).on("click", "#copiar", function () {
            var buscado;
            buscadooriginal = getnodo(nodoseleccionado);
            var buscado = jQuery.extend(true, {}, buscadooriginal); //clon del objeto
            //alert(buscado);
            $(document).off("click", "#pegar");
            $(document).on("click", "#pegar", function () {
            buscado.idnodo = String("nodo" + idnodocreado);
            //alert(String(buscado.caracteristica)+' '+String(buscado.tiponodo)+' '+String(buscado.caracteristica=='Hoja' && buscado.tiponodo==''))
            if (buscado.caracteristica == 'Hoja' && buscado.tiponodo == '')
                    buscado.tiponodo = 'no hay tipo';
            crearnuevonodo(buscado.idnodo, 0, 0, buscado.tiponodo, buscado.valor, buscado.caracteristica, false);
            buscado = getnodo(nodoseleccionado);
            });
            });
            //Eliminar
            $(document).on("click", "#eliminar", function () {
            buscadooriginal = getnodo(nodoseleccionado);
            undoredoborrarnodo(buscadooriginal.idnodo, buscadooriginal.x,
                            buscadooriginal.y, buscadooriginal.tiponodo, buscadooriginal.valor,
                            buscadooriginal.caracteristica, false,buscadooriginal.idhijos,buscadooriginal.padre);
            eliminarnodo(buscadooriginal.idnodo);
            desaparecernodo(buscadooriginal.idnodo);
            });
            });
            //Evento de conexion detectada para separar a un padre de su hijo
            jsPlumb.bind("beforeDetach", function(e) {
            console.log("separando " + e.sourceId + " " + e.targetId);
            undoredoborrarconexion(e.sourceId, e.targetId);
            separarpadrehijo(e.sourceId, e.targetId);
            return true;
            });
            //Evento para impedir que dos hojas se conecten
            jsPlumb.bind("beforeDrop", function(e) {
            console.log("se uniran " + e.sourceId + " " + e.targetId);
            fuente = getnodo(e.sourceId);
            destino = getnodo(e.targetId);
            if (fuente.caracteristica == 'Hoja' && destino.caracteristica == 'Hoja')
                    return false;
            else
                    return true;
            });
            //Evento de conexion detectada para registrar quien es el padre y el hijo unidos
            jsPlumb.bind("connection", function(e) {
            console.log("uniendo " + e.sourceId + " " + e.targetId);
            unirpadreahijo(e.sourceId, e.targetId);
            undoredoagregarconexion(e.sourceId, e.targetId,e.connection);
            });
            //Cuando un nodo quiere tener un hijo
            $(document).on("click", ".button_add", function(){
            //$(".button_add").live("click", function () {
            var parentnodeid = $(this).parent().attr("id");
            undoredoagregarendpoint(parentnodeid);
            agregarpuntosdefinanodo(parentnodeid, true);
            });
            //Remove anchor 
            $(document).on("click", ".button_remove", function(){
            var parentnode = $(this).parent();
            undoredoquitarendpoint(parentnode);
            //get list of current endpoints
            var endpoints = getendpointdisponibles(parentnode);
            //remove last one
            if (endpoints.length > 1) {
            jsPlumb.deleteEndpoint(endpoints[endpoints.length - 1]);
            }
            });
            //funcion usada para eliminar div y conexiones de un nodo

            function desaparecernodo(idnodo){
            var targetBoxId = '#' + idnodo;
            console.log("viendo endpoints " + targetBoxId);
            jsPlumb.detachAllConnections(idnodo);
            jsPlumb.removeAllEndpoints(idnodo);
            jsPlumb.detach(idnodo); // <--
            $(targetBoxId).remove();
            }

            //crear nuevo nodo, si abrir indica que si se creo nodo por abrirse un proyecto
            function crearnuevonodo(idnodo, x, y, tiponodo, valor, caracteristica, siabrir){
            //alert('creando '+idnodo+' '+x+' '+y+' '+tiponodo+' '+valor+' '+caracteristica+' '+siabrir);
            nodoseleccionado = idnodo;
            if (String(caracteristica) == 'Nodo'){
            newDiv = $("<div/>", {
            "class": "ui-widget-contentcomp",
                    "id": idnodo,
            });
            }
            else{
            newDiv = $("<div/>", {
            "class": "ui-widget-contentsimple",
                    "id": idnodo,
            });
            }
            newDiv.css({
            'top': y,
                    'left': x
            });
            newDiv.appendTo("#containment-wrapper");
            $(".ui-widget-contentcomp").css("border", getgrosornodo() + 'px solid ' + getcolorlineanodo());
            $(".ui-widget-contentcomp").css("background", getfondonodo());
            $(".ui-widget-contentsimple").css("background", getfondohoja());
            $(".ui-widget-contentsimple").css("border", getgrosorhoja() + 'px solid ' + getcolorlineahoja());
            jsPlumb.draggable($('#' + idnodo), {containment:"#containment-wrapper",
                    stop: function(e){
                    // Evento cuando se actualizo la psocion de un div para registrar el cambio.
                    nodoseleccionado = idnodo;
                    var p = $("#" + idnodo);
                    var position = p.position();
                    var nuevox = position.left;
                    var nuevoy = position.top;
                    //undoredocambiarposnodo(nodoseleccionado, nuevox, nuevoy);
                    actualizarposicionnodo(nodoseleccionado, nuevox, nuevoy);
                    console.log("cambio la pos del div " + nodoseleccionado + " en " + nuevox + " " + nuevoy + " " + e);
            $('#' + idnodo).effect("highlight", {color:"#ff0000"});
                    }
            });
            $('#' + idnodo).click(function() {
            nodoseleccionado = idnodo;
            $('#' + idnodo).effect("highlight", {color:"#ff0000"});
            //alert( "Handler for .click() called. "+nodoseleccionado );
            });
            //             newDiv.animate({ left: x+'px',top: y+'px' });
            //            newImg = $("<img>", {
            //                "class": "imagenFondo",
            //                "src": "{% static 'devson/images/proyecto/"+String(caracteristica)+".png' %}",
            //            });
            //            newImg.appendTo(newDiv);
            if (String(caracteristica) == 'Nodo'){
            nombrenodo = $("<label>", {
            "class": "nombrenodo",
            }).html(tiponodo);
            nombrenodo.appendTo(newDiv);
            botonagregarhijo = $("<div>", {
            "class": "button_add",
            }).html('Agregar Hijo');
            botonagregarhijo.appendTo(newDiv);
            botonquitarhijo = $("<span>", {
            "class": "button_remove",
            }).html('Quitar Hijo');
            botonquitarhijo.appendTo(newDiv);
            if (!siabrir)
                    agregarpuntosdefinanodo(idnodo, true);
            }
            else{
            nombrenodo = $("<label>", {
            "class": "nombrenodo",
            }).html(tiponodo);
            nombrenodo.appendTo(newDiv);
            if (!siabrir)
                    agregarpuntosdefinanodo(idnodo, false);
            }
            $(".nombrenodo").css("fontFamily", getfuenteletra());
            $(".nombrenodo").css("fontSize", gettamanofuente() + 'px');
            $(".nombrenodo").css("color", getcolorfuente());
            agregarnodo(idnodo, y, x, caracteristica, tiponodo, valor);
            objetoseleccionado = '';
            idnodocreado = idnodocreado + 1;
            }

            //Se debe definir si el enddpoint a agregar de un nodo es de un padre o un hijo
            function agregarpuntosdefinanodo(idnodo, espadre) {
            var endpoint = common;
            if (espadre){
            endpoint.isSource = true;
            endpoint.isTarget = true;
            }
            else{
            endpoint.isSource = false;
            endpoint.isTarget = true;
            }
            var endp = jsPlumb.addEndpoint(String(idnodo), {
            anchor:"AutoDefault",
                    uuid:"ep" + String(idnodo),
                    container:String(idnodo)
            }, endpoint);
            var nuevoendpoint = new Array();
            nuevoendpoint[0] = idnodo;
            nuevoendpoint[1] = endpoint;
            nuevoendpoint[2] = false; //se indica si ya ha sido unido o no
            agregarendpoint(nuevoendpoint);
            return endp;
            //jsPlumb.draggable($("#"+String(idnodo)));
            }

            //Oyente usado para recibir proyecto a abrir
            socket.on('abrir nuevo proyecto', function(proyecto){
            propiedadesproyecto = jQuery.parseJSON(proyecto);
            var nombreproyecto = propiedadesproyecto["nombre"];
            var usuarioproyecto = propiedadesproyecto["usuario"];
            var estiloproyecto = propiedadesproyecto["estilo"];
            proyecto = propiedadesproyecto["proyecto"];
            //Cambio en el nombre del proyecto del interfaz
            console.log("abriendo proyecto " + nombreproyecto);
            jsPlumb.empty("containment-wrapper");
            reiniciarnodos();
            setnombreproyecto(nombreproyecto, getusuarioactivo());
            editarnombregraficoproyecto();
            //Cambio en los estilos actuales
            console.log('a');
            if (typeof estiloproyecto == "string")
                    estiloproyecto = jQuery.parseJSON(estiloproyecto);
            console.log('b');
            setfondonodo(estiloproyecto["fondonodo"]);
            setcolorlineanodo(estiloproyecto["colorlineanodo"]);
            setgrosornodo(estiloproyecto["grosornodo"]);
            setfondohoja(estiloproyecto["fondohoja"]);
            setcolorlineahoja(estiloproyecto["colorlineahoja"]);
            setgrosorhoja(estiloproyecto["grosorhoja"]);
            setfuenteletra(estiloproyecto["fuenteletra"]);
            setcolorfuente(estiloproyecto["colorfuente"]);
            settamanofuente(estiloproyecto["tamanofuente"]);
            setgrosorconexion(estiloproyecto["grosorconexion"]);
            setcolorconexion(estiloproyecto["colorconexion"]);
            jsPlumb.registerConnectionType("lineas", {
            paintStyle:{ strokeStyle: getcolorconexion(), lineWidth: getgrosorconexion()  },
                    hoverPaintStyle:{fillStyle: "lightblue"}
            });
            jsPlumb.select().addType("lineas");
            console.log("se termino de agregar estilos");
            //Ciclo para crear todos los nodos que hay en el proyecto
            if (typeof proyecto == "string")
                    proyecto = jQuery.parseJSON(proyecto);
            for (nodo in proyecto){
            //console.log(nodo + " este es el nodo " + proyecto[nodo]);
            var jsonnodo = (proyecto[nodo]);
            crearnuevonodo(jsonnodo["idnodo"], jsonnodo["x"],
                    jsonnodo["y"], jsonnodo["tiponodo"], jsonnodo["valor"], jsonnodo["caracteristica"], true);
            }
            //Ciclo para conectar todos los nodos
            for (nodo in proyecto){
            var jsonnodo = (proyecto[nodo]);
            //console.log("hijos " + jsonnodo["idhijos"]);
            if (jsonnodo["idhijos"].length > 0){
            for (valor in jsonnodo["idhijos"]){
            var endpointpadre = agregarpuntosdefinanodo(
                    jsonnodo["idnodo"], true); //se asume que siempre el padre es un nodo
            var endpointhijo = agregarpuntosdefinanodo(
                    jsonnodo["idhijos"][valor], false);
            uuidpadre = endpointpadre.getUuid();
            uuidhijo = endpointhijo.getUuid();
            jsPlumb.connect({ uuids:[uuidpadre, uuidhijo] });
            }
            }
            }
            });
            socket.on('recibir estilos', function(color, colorlinea, grosorlinea,
                    tamano, fuente, tipo){
            console.log('se editarn estilos de ' + tipo + ': ' +
                    color + ' ' + colorlinea + ' ' + grosorlinea + ' ' + tamano + ' ' + fuente);
            console.log('mi border: ' + grosorlinea + 'px solid ' + colorlinea);
            switch (tipo)
            {
            case 'Compuesto':
                    console.log("en Compuesto");
            setfondonodo(color);
            setgrosornodo(grosorlinea);
            setcolorlineanodo(colorlinea);
            $(".ui-widget-contentcomp").css("border", getgrosornodo() + 'px solid ' + getcolorlineanodo());
            $(".ui-widget-contentcomp").css("background", getfondonodo());
            break;
            case 'Simple':
                    console.log("en Simple");
            setfondohoja(color);
            setcolorlineahoja(colorlinea);
            setgrosorhoja(grosorlinea);
            $(".ui-widget-contentsimple").css("background", getfondohoja());
            $(".ui-widget-contentsimple").css("border", getgrosorhoja() + 'px solid ' + getcolorlineahoja());
            break;
            case 'Linea':
                    console.log("en Linea");
            setcolorconexion(color);
            setgrosorconexion(grosorlinea);
            jsPlumb.registerConnectionType("lineas", {
            paintStyle:{ strokeStyle: getcolorconexion(), lineWidth: getgrosorconexion()  },
                    hoverPaintStyle:{fillStyle: "lightblue"}
            });
            var connections = jsPlumb.getConnections();
            jsPlumb.select().addType("lineas");
            for (i = 0; i < connections.length; i++){
            connections[i].setPaintStyle({
            strokeStyle: getcolorconexion(), lineWidth: getgrosorconexion()});
            jsPlumb.repaint(connections[i].id);
            }
            break;
            case 'Texto':
                    console.log("en Texto");
            setcolorfuente(color);
            settamanofuente(tamano);
            setfuenteletra(fuente);
            $(".nombrenodo").css("fontFamily", getfuenteletra());
            $(".nombrenodo").css("fontSize", gettamanofuente() + 'px');
            $(".nombrenodo").css("color", getcolorfuente());
            break;
            default:
                    document.write("Error entregando datos de estilos, se recomienda recargar pagina<br />")
            }
            });
            function undoredonuevonodo(idnodo,x,y,tipo,valor,caracteristica,siabrir){
                $(function () {
                getundoredo().add({
                        undo: function() {
                            buscadooriginal = getnodo(idnodo);
                            x = buscadooriginal.x;
                            y = buscadooriginal.y;
                            eliminarnodo(buscadooriginal.idnodo);
                            desaparecernodo(buscadooriginal.idnodo);
                            //jsPlumb.repaintEverything();
                        },
                        redo: function() {
                            crearnuevonodo(idnodo, x, y, tipo, valor, caracteristica, siabrir);
                        }
                    });
                });
            }
            
            function undoredoquitarendpoint(idnodo){
                $(function () {
                    getundoredo().add({
                        undo: function() {
                            agregarpuntosdefinanodo(idnodo, true);
                        },
                        redo: function() {
                            var endpoints = getendpointdisponibles(idnodo);
                            //remove last one
                            if (endpoints.length > 0) {
                                jsPlumb.deleteEndpoint(endpoints[endpoints.length - 1]);
                            }
                        }
                    });
                });
            }
            //nuevox y nuevoy la nueva posicion q tomo el nodo
            function undoredocambiarposnodo(idnodo,nuevox,nuevoy){
                var nodo = getnodo(nodoseleccionado);
                var viejox = nodo.x;
                var viejoy = nodo.y;
                $(function () {
                    getundoredo().add({
                        undo: function() {
                            $("#"+idnodo).css({ left: viejox+'px' });
                            $("#"+idnodo).css({ top: viejoy+'px' });
                            jsPlumb.repaintEverything();
                            actualizarposicionnodo(idnodo, viejox, viejoy);
                        },
                        redo: function() {
                            $("#"+idnodo).css({ left: nuevox+'px' });
                            $("#"+idnodo).css({ top: nuevoy+'px' });
                            jsPlumb.repaintEverything();
                            actualizarposicionnodo(idnodo, nuevox, nuevoy);
                            jsPlumb.repaintEverything();
                        }
                    });
                });
            }
            
            function undoredoagregarendpoint(idnodo){
                $(function () {
                    getundoredo().add({
                        undo: function() {
                            var endpoints = getendpointdisponibles(idnodo);
                            //remove last one
                            if (endpoints.length > 0) {
                                jsPlumb.deleteEndpoint(endpoints[endpoints.length - 1]);
                            }
                        },
                        redo: function() {
                            agregarpuntosdefinanodo(idnodo, true);
                        }
                    });
                });
            }
            
            function undoredoagregarconexion(idnodopadre,idnodohijo,conexion){
                $(function () {
                    getundoredo().add({
                        undo: function() {
                            conexion = jsPlumb.select({source:idnodopadre,target:idnodohijo}).detach();
                            separarpadrehijo(idnodopadre, idnodohijo);
                        },
                        redo: function() {
                            var endpointspadre = getendpointdisponibles(idnodopadre);
                            var endpointshijo = getendpointdisponibles(idnodohijo);
                            jsPlumb.deleteEndpoint(endpointspadre[endpointspadre.length - 1]);
                            jsPlumb.deleteEndpoint(endpointshijo[endpointshijo.length - 1]);
                            var endpointpadre = agregarpuntosdefinanodo(
                                idnodopadre, true); //se asume que siempre el padre es un nodo
                            var endpointhijo = agregarpuntosdefinanodo(
                                idnodohijo, false); //se asume que siempre el padre es un nodo
                            uuidpadre = endpointpadre.getUuid();
                            uuidhijo = endpointhijo.getUuid();
                            conexion = jsPlumb.connect({ uuids:[uuidpadre, uuidhijo] });
                            unirpadreahijo(idnodopadre, idnodohijo);
                        }
                    });
                });
            }
            
            function undoredoborrarconexion(idnodopadre,idnodohijo){
                var conexion = null;
                $(function () {
                    getundoredo().add({
                        undo: function() {
                            conexdisponibles = jsPlumb.getConnections({ source:idnodopadre });
                            var endpointspadre = getendpointdisponibles(idnodopadre);
                            var endpointshijo = getendpointdisponibles(idnodohijo);
                            jsPlumb.deleteEndpoint(endpointspadre[endpointspadre.length - 1]);
                            jsPlumb.deleteEndpoint(endpointshijo[endpointshijo.length - 1]);
                            var endpointpadre = agregarpuntosdefinanodo(
                                idnodopadre, true); //se asume que siempre el padre es un nodo
                            var endpointhijo = agregarpuntosdefinanodo(
                                idnodohijo, false); //se asume que siempre el padre es un nodo
                            uuidpadre = endpointpadre.getUuid();
                            uuidhijo = endpointhijo.getUuid();
                            conexion = jsPlumb.connect({ uuids:[uuidpadre, uuidhijo] });
                            unirpadreahijo(idnodopadre, idnodohijo);                            
                        },
                        redo: function() {
                            conexion = jsPlumb.select({source:idnodopadre,target:idnodohijo}).detach();
                            separarpadrehijo(idnodopadre, idnodohijo);
                        }
                    });
                });
            }
            
            function getendpointdisponibles(idnodo){
                var retorno = jsPlumb.getEndpoints(idnodo);
                var aux = [];
                var it = 0;
                jsPlumb.getEndpoints(idnodo).forEach(function(endpoint) {
                    var conexdisponibles = jsPlumb.getConnections({ source:idnodo }).forEach(function(endpointsource) {
                        var endpointsource=endpointsource.endpoints; // Array of [source, target] Endpoint objects.
                        if (endpointsource[0]==endpoint)
                            retorno.splice(it,1);
                    });
                    var conexdisponibles = jsPlumb.getConnections({ target:idnodo }).forEach(function(endpointtarget) {
                        var endpointtarget=endpointtarget.endpoints; // Array of [source, target] Endpoint objects.
                        if (endpointtarget[0]==endpoint)
                            retorno.splice(it,1);
                    });
                    it+=1;
                });
                return retorno;
            }
            
            function undoredoborrarnodo(idnodo,x,y,tipo,valor,caracteristica,siabrir,idhijoso,padre){
                $(function () {
                var idhijos = idhijoso.slice(0);
                console.log("padres encontrados en undo-redo borrar "+padre+" hijos "+idhijos);
                    getundoredo().add({
                        undo: function() {
                            if (tipo == '' && caracteristica =='Hoja')
                                tipo = 'no hay tipo';
                            crearnuevonodo(idnodo,x,y,tipo,valor,caracteristica,true);
                            console.log("padre por deshacer borrar "+padre+" para hijos "+idhijos);
                            if (padre != ''){
                                var endpointpadre = agregarpuntosdefinanodo(
                                            padre, true);
                                var endpointhijo = agregarpuntosdefinanodo(
                                            idnodo, false);
                                uuidpadre = endpointpadre.getUuid();
                                uuidhijo = endpointhijo.getUuid();
                                jsPlumb.connect({ uuids:[uuidpadre, uuidhijo] });
                            }
                            for (valor in idhijos){
                                //alert("mi valor "+idhijos[valor]+" de "+idhijos);
                                var endpointpadre = agregarpuntosdefinanodo(
                                        idnodo, true); //se asume que siempre el padre es un nodo
                                var endpoints = jsPlumb.getEndpoints(idhijos[valor]);
                                jsPlumb.deleteEndpoint(endpoints[endpoints.length - 1]);
                                var endpointhijo = agregarpuntosdefinanodo(
                                        idhijos[valor], false);
                                uuidpadre = endpointpadre.getUuid();
                                uuidhijo = endpointhijo.getUuid();
                                jsPlumb.connect({ uuids:[uuidpadre, uuidhijo] });
                            }
                        },
                        redo: function() {
                            buscadooriginal = getnodo(nodoseleccionado);
                            x = buscadooriginal.x;
                            y = buscadooriginal.y;
                            eliminarnodo(idnodo);
                            desaparecernodo(idnodo);
                        }
                    });
                });
            }            
            });

            function exportar(exportar){
            return $.ajax({
            type:"POST",
                    url:"{% url 'devson:exportar'%}",
                    data: {
                    'proyecto': getproyecto(),
                            'exportar':exportar,
                            'nombreproyecto': getnombreproyecto()
                    }
            });
            }
            function getundoredo(){
                return undoManager;
            }
            //function getjson(){
            //return $.ajax({
            //type:"POST",
            //url:"{% url 'devson:exportar'%}",
            //data: {
            //'proyecto': getproyecto(),
            //'exportar':'json'
            //}
            //,
            //success: function(jout){
            //    return jout;
            //},
            //error: function(){
            //alert ("hubo un error exportando el proyecto favor intentelo mas tarde.");
            //return null;
            //}
            //});
            //}
        </script>
        <script type="text/javascript">
            $element = document.getElementById('containment-wrapper');
            $des = document.getElementById('des');
            w = $element.width;
            h = $element.height;
            $element.onclick = function (e) {
            html2canvas($element, {
            onrendered: function (canvas) {
            ima = Canvas2Image.convertToImage(canvas, w, h, 'png');
            $des.href = ima.src;
            $des.target = "_blank";
            }
            });
            }
        </script>

    </body>
</html>
