/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/12/2015, 03:21:56 PM
    Author     : User
*/

.ui-widget-content {
    position: absolute;
    width: 98px;
    height: 50px;
    padding: 0.5em;
    color: black;
    float: left;
    margin: 0 10px 10px 0;
}
.ui-widget-content:hover { 
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}
#containment-wrapper {
    position: absolute;
    width: 58%;
    height: 451px;
    border:2px solid #ccc;
    padding: 10px;
    overflow: scroll;
}
.nombrenodo {
    text-align: center;
    left: 0;
}

.button_add, .button_remove {
    background-color: deepskyblue;
    text-align: center;
    border: 1px solid;
}